form {
    display: inline-block;
    padding: 2em;
    color: var(--konas);
    width: 100%;
}

h1 {
    margin-bottom: 1em;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
    border: none;
}

button {
    margin: 8px 0;
    background-color: var(--konas);
    color: var(--text-light);
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}