.section-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.section-body {
  width: 80%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 0 auto 2vh;
}

@media screen and (max-width: 700px) {
  .section-body {
    width: 80%;
  }
  .section-title {
    font-size: 30px;
  }
  .section-desc {
    font-size: 13px;
  }
}