body {
    background-image: url(/img/bright-squares.png);
}

.container {
    background-image: url(/img/bright-squares.png);
    width: 60vw;
    margin: auto;
    text-align: left;
}

.containers {
    padding-top: 8%;
	padding-bottom: 5vh;
}

ul {
	padding-top: 1vh;
    padding-left: 5%;
    list-style: none;
	list-style-type: square;
	list-style-position: inside;
}

li {
	padding-bottom: 5px;
}

h1 {
    padding-left: 5%;
    padding-top: 5%;
}

p {
    padding-left: 5%;
    padding-top: 2vh;
}

strong {
	padding-top: 10px;
	font-size: 20px;
}