body {
    background-image: url(/img/bright-squares.png);
}

a {
    color: var(--discord);
}

.error {
    text-align: center;
}

.container {
    background-image: url(/img/bright-squares.png);
    width: 60vw;
    margin: auto;
}

.section-body {
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
}

#title {
    padding-top: 15%;
}

#download {
    width: 40%;
}