body {
  margin-top: 3vh;
  background-image: url(/img/bright-squares.png);
  color: var(--text-dark);
}

#main {
  background: url(../../img/background.png) center;
  background-size: 100% 100%;
  height: 60%;
  align-items: center;
}

#main .section-title {
  color: white;
  font-weight: bolder;
  font-size: 400%;
}

#main .button-container {
  width: 40%;
  padding-bottom: 0;
}

#main .waves {
  background-color: var(--background-light);
}

#main #discord {
  background-color: var(--discord);
}

#main #youtube {
  background-color: var(--youtube);
}

@media screen and (max-width: 1150px) {
  #main .button-container {
    width: 40%;
  }
}

@media screen and (max-width: 850px) {
  #main .button-container {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  #main .button-container {
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  #main .button-container {
    width: 80%;
  }
}

@media screen and (max-width: 430px) {
  #main .button-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  #main #discord {
    margin-bottom: 10px;
  }
}

.card-inner {
  background-color: var(--background-light);
}