body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/bright-squares.png);
}

.form-container {
    width: 30vw;
    background-color: var(--background-light);
}

form {
    border: var(--konas) solid 2px;
}